



body {
  background-image: url("./img/pexels-nathan-engel-436413.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
 }

.header {
    color:  #CC99CC;
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 60px;
    line-height: 3.7;
    
}

.header1 {
  color:  #CC99CC;
  font-family: 'Titan One', cursive;
  text-align: center;
  font-size: 40px;
  line-height: 2.7;
  
}



.img {
  border-radius: 15px;
  border: 5px solid #9900FF;
  box-shadow: 0 0 10px #8ac4ff;
 }




  .movie {
    font-size: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
  }

  

  nav {
    display: flex;
    justify-content: right;
   
  }
  
  button {
    font-family: 'Bungee Shade', cursive;
    width: 150px;
    margin: 0 .5%;
    font-size: 60%;
    color:black;
    background-color:#9900FF ;
    border-radius: 15px;
    box-shadow: 0 0 10px #8ac4ff;
  }
  
  
  button:hover {
    background-color:#CC33FF  ;
    color: rgb(185, 136, 136);
  }
  
  
  button:active {
    font-size: 60%;
    box-shadow: 0 0 10px #000 inset;
  }
  
 
  button:focus  {
    outline: none;
    border-color: #8ac4ff;
  }

  .movie:hover {
    font-size: 60%;
  }
  

  .h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: #CC99CC;
   
  }
  


  footer { 
  
    border-radius: 15px;
    padding: 50px;
    background-color: #b062ca ;
  
  }

  .list_history:hover {
    cursor:pointer;

  }

  .footer{
    padding: 0% !important;
  }

  
  